<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
  </head>
  <body class="bg-neutral-200">
    <h1
      class="font-semibold font-sans text-lg text-blue-600 first-letter:text-xl"
    >
      About
    </h1>
    <p class="font-serif text-slate-500 text-lg">
      This site is useless and does not contribute to the technological
      advancement of the Internet.
    </p>
    <a href="/">Back to home page</a>
  </body>
</html>
