<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
  </head>

  <body>
    <h1 class="text-red-700 font-serif font-bold dark:text-neutral-300">
      Welcome to this no-effort expressJS project!
    </h1>
    <blockquote class="bg-gray-300 divide-amber-400">
      <p class="font-sans text-green-600 dark:text-teal-200">
        No pain, no gain, dear web developer...
      </p>
    </blockquote>
    <a href="/about" class="visited:text-orange-600 text-yellow-700"
      >Go to about page</a
    >
    <p class="font-serif text-blue-500"><%= locals.text %></p>
  </body>
</html>
