<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>

  <body class="flex flex-col justify-center content-center bg-red-300">
    <h1 class="text-red-700 font-serif font-bold dark:text-neutral-300">
      Welcome to this no-effort expressJS project!
    </h1>
    <blockquote class="bg-gray-300 divide-amber-400">
      <p class="font-sans text-green-600 dark:text-teal-200">
        No pain, no gain, dear web developer...
      </p>
    </blockquote>
    <a
      href="/about"
      class="visited:text-orange-600 text-brown-600 transition-colors hover:text-white hover:bg-green-900"
      >Go to about page</a
    >
    <p class="font-serif text-blue-500"><%= locals.text %></p>

    <ul class="grid grid-flow-col w-[60vw] grid-cols-3 text-yellow-600">
      <li
        class="divide-lime-950 divide-x-8 hover:bg-yellow-600 hover:text-white"
      >
        What?
      </li>
      <li
        class="divide-lime-950 divide-x-8 hover:bg-yellow-600 hover:text-white"
      >
        How?
      </li>
      <li
        class="divide-lime-950 divide-x-8 hover:bg-yellow-600 hover:text-white"
      >
        Where?
      </li>
      <li
        class="divide-lime-950 divide-x-8 hover:bg-yellow-600 hover:text-white"
      >
        When?
      </li>
      <li
        class="divide-lime-950 divide-x-8 hover:bg-yellow-600 hover:text-white"
      >
        Which?
      </li>
    </ul>
  </body>
</html>
